body{
    /* background-color: black; */
}

.app{
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    
    margin: auto;

  

}

.pageView{
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-betweenm */
    /* margin-bottom:10vh; */
}


