body{
    background-color: grey;
}

.app{
    width: 80vw;
    height: 100vh;
    /* overflow-x: hidden; */
    margin: auto;
  

}

.pageView{
    width: 100%;
    height: 85vh;
    margin-top: 15vh;
}
