.pageView{
    width: 100vw; 
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    /* color: rgb(255, 255, 255); */
    font-weight: bolder;
}


#title{
    margin-top: 5em;
    font-size: 3vw;
}
h1{
  font-family: Rockwell;

}


.coverImage{
    opacity: 1; overflow: hidden;
    z-index: 0;

}
.coverImage img { 
   
}
#iframe{
    display: none;
}


.buttonOpaque{

    position: absolute;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
    background: #000;
    opacity: 0;
}

.buttonShow{
        position: absolute;
    top: 50%;
    left: 50%;
    background: transparent url(//assets.squarespace.com/universal/images-v6/damask/play-button.png) center center no-repeat;
    height: 48px;
    width: 48px;
    margin-left: -24px;
    margin-top: -24px;
    cursor: pointer;
}

#clicked{
display: none;
}




#play{
    z-index: 1;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.video{
height: 60%;
width: 30%;
/* margin: auto; */

}



#fade {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }
 
 


.p{
    color: black;
    font-size: calc(16px + 1vw)
}



/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes mymove {
    from {bottom: 0px; opacity: 0;}
    to {bottom: 100px; opacity: 1; }
  }
  
  @keyframes mymove {
    from {bottom: -200px; opacity: 0;}
    to {bottom: 25px; opacity: .2;}
    to {bottom: 50px; opacity: .5;}
    to {bottom: 90px; opacity: .8;}
    
  } */



/* Safari 4.0 - 8.0 */
/* h1{
    text-align: center;
    width: 70%;
    margin-top: 1em;

} */

caption { 
    font-size: .5em;
}



@media only screen and (max-width: 760px) {
    
  

    #title{
        font-size: 4vw;
        width: 100vw;
        text-align: center;
    }
   
}



@media screen 
  and (min-device-width: 1600px) {


   

    #title{
        font-size: 1.5vw;
        width: 100vw;
        text-align: center;
    }
   

  }