.mike{
    height: auto;
    margin-top: 5em;
    width: 300px;
    

   
}


.imageBox{


    -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    animation-fill-mode: forwards;
    position: relative;
    display: flex;
    flex-direction: column;
}



/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {bottom: 0px; opacity: 0;}
    to {bottom: 100px; opacity: 1; }
  }
  
  @keyframes mymove {
    from {bottom: -200px; opacity: 0;}
    to {bottom: 25px; opacity: .2;}
    to {bottom: 50px; opacity: .5;}
    to {bottom: 90px; opacity: .8;}
    
  }



/* Safari 4.0 - 8.0 */
h1{
    text-align: center;
    width: 70%;
    margin-top: 5em;

}

caption { 
    font-size: .5em;
}



@media only screen and (max-width: 1100px) {
    .imageBox{
        margin-top:3em;
    }
    h1 { 
        margin-top: 1em;
    }
}
