.view{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}


.login{
display: flex;
flex-direction: column;
height: 70%;
width: 50%;
/* background-color: white; */
justify-content: center;
align-items: center;


}

.view input { 
margin: 10px;
width: 30%;
height:50px;
/* border-radius: 6px; */
font-size: 20px;
border: none;
}

.view button{
    height: 3em;
    width: 30%;
    border-radius: 6px;
    border: none;
background-color: rgb(48, 105, 240);
color: white;
font-weight: bold;
font-size: 1em;

}

.view button:hover {
background-color: rgb(38, 77, 170);

}

.view img { 
    height: 100px;
    width: auto;
}
@media only screen and (max-width: 1100px) {
  .login{
      width: 100%;
  }

  .view input{
      width: 50%;
  }
  }
  