.logo{
    height: 50px;
    /* widows: auto; */
}

nav{
    width: 80%;
    margin: auto;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top:0;
    z-index: 500;
    background-color: black;
    /* margin-bottom: 15em; */
    
   
}

.link{
    color: white;;
    text-decoration: none;

}
a{
    text-decoration: none;
}


@media only screen and (max-width: 1100px) {
  nav { 
      width: 80%;
      justify-content: space-around;
      /* padding-right: 1em; */
  }
  .logo{
      height: 35px; 
      width: auto;
      
  }
}
