.pageView{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}


.pageView h1 {
    color: black;
}


.selectedOptionDetails{ 
    height: 100%;
    width: 100%;
background-color: grey;
display: flex;
align-items: center;
}



.button { 
    height: 2em; 
    width: 10em; 
    border-radius: 60px;
    background-color: red;
    position: absolute;
    right: 0;
}


.odeometer{
    color: black;
    font-size: .5em;
    height: 100%;
    /* background-color: yellow; */
  display: flex;
  align-items: center;
}
