.pageView{
    display: flex;
    /* background-color: blue; */
    width: 100%;
    height: 100%;
}


.pageView h1 {
    color: black;
}


.selectedOptionDetails{ 
    height: 100%;
    width: 100%;

}

.selectedOptionDetails h1{
font-size: 1em;
}

.button { 
    height: 2em; 
    width: 10em; 
    border-radius: 60px;
    background-color: red;
    position: absolute;
    right: 0;
}


.odeometer{
    color: black;
}