.pageView {
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pageLocation {
    width: 100%;
    height: 10%;
    background-color: grey;
}

.selections {
    display: flex;
    width: 100%;
    height: 100%;
}

.currentDisplayContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: solid 1px rgb(172, 172, 172);
}
.currentDisplay{
    display: flex;
    width: 100%;
    height: 75%;
    border-right: solid 1px rgb(172, 172, 172);
    justify-content: center;
    align-items: center;
}

.currentDisplay img{
    position: absolute;
    align-items: center;
    justify-content: center;
}


.optionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    /* padding: 1em; */
    float: right;
    background-color: rgb(202, 202, 202);

}

.optionDescription{
    height: 60%;
    width: 100%;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionButtons{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

.optionContainer h2 {
    color: black;
    font-size: 3em;
}



.option1 {
    width: 80%;
    height: 2.5em;
    border-radius: 60px;
    margin: .3em;
    border: solid 1px black;
    all: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;


}

/* .option1:hover { 
    border-color: #007fff;
    box-shadow: 0 0 10px 2px #007fff;
    
}  */

.option1 #optionDescription:hover {
    background-color: black;
    display: inline;
}

.option2 {
    width: 80%;
    height: 2.5em;
    border-radius: 60px;
    margin: .3em;
    border: solid 1px black;
    all: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;


}

.option2:hover { 
    border-color: #007fff;
    box-shadow: 0 0 10px 2px #007fff;
}

.option3 {
    width: 80%;
    height: 2.5em;
    border-radius: 60px;
    margin: .3em;
    border: solid 1px black;
    all: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;


}

.option3:hover{ 
    border-color: #007fff;
    box-shadow: 0 0 10px 2px #007fff;
}
#selected {
    border-color: #007fff;
    box-shadow: 0 0 0 2px #007fff;
    /* background-color:#70a5da; */
    /* transition: all .5s ease-in-out; */
    /* -webkit-transition: all .5s ease-in-out; */
}





.hiddenDescription{
    display: none;
}


/* .hiddenDescription:hover{
 display: inline;   
} */





@media only screen and (max-width: 700px) {
    .pageView{
        /* overflow: scroll; */
    }
    .selections {
        display: flex;
        flex-direction: column;
    }
    .packageDisplay {
        float: none;
        width: 100%;
    border-bottom: solid 1px rgb(172, 172, 172);

    }
    .optionContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;

    }

    .option {
        width: 60%;
        height: 2.5em;
        border-radius: 60px;
        /* background-color: grey; */
        margin: 1em;
        border: solid 1px black;
        all: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}